name,name_ru,category,description_uz,description_ru,photo
Sevara Nazarxon,Севара Назархан,uz,O'zbekiston xalq artisti,Народная артистка Узбекистана,./photos/sevara.jpg
Alisher Fayz,Алишер Файз,uz,Estrada qo'shiqchisi,Эстрадный исполнитель,./photos/alisher-fayz.jpg
Cristiano Ronaldo,Криштиану Роналду,world,Futbolchi,Футболист,./photos/ronaldo.jpg
